<div class="jumbo">
  <h3>Pick Your Car</h3>
  <p>
    Our services include selling the Used cars at best possible price.
  </p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>
{{outlet}}