<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Pick Your Car</h2>
  <p>
    Our services include selling the Used cars at best possible price.
  </p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>
{{outlet}}