<div class="jumbo">
  <div class="aboutpage"></div>
  <br>
<div>
  <h3 ><font color="#457C8D" text-align="center">Pick Your Choice for Manufacturer </font></h3>
  <p>
  Our services include selling the Used cars at best possible price from all service providers
</p>
  {{#link-to "contact" class="button" align="right"}}
    Contact Us
  {{/link-to}}
</div>
<br><br>
<div>
 <h4><font color="#457C8D">Why Choose "PICK YOUR CAR" Services?</font></h4>
 <p>
   <ul>
     <li>Reputed car sale company for used cars</li>
     <li>Helps customer to inspect old cars to provide them best value for money</li>
     <li>Lowest possible rates for resale for car models</li>
     <li>Expanding in market faster. Adding more customers</li>
   </ul>
 </p>
 </div>
</div>
{{outlet}}
