<div class="container">
  <div class="menu">
    {{#link-to "index"}}

      <h1>
        <img class="logo" src="/assets/images/car.png" alt="PickYourCar" align="middle" height="70" />
         &ensp;Pick Your Car
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "home"}}
        Home
      {{/link-to}}
      {{#link-to "about"}}
        About
      {{/link-to}}
      {{#link-to "contact"}}
        Contact
      {{/link-to}}
      {{#link-to "seecars"}}
        Explore cars
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
