<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <img class="logo" src="/assets/images/logoT_pickyourcar.png" alt="PickYourCar" align="middle" height="70" />
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "home" class="menu-home"}}
        Home
      {{/link-to}}
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        Contact
      {{/link-to}}
      {{#link-to "seecars" class="menu-seecars"}}
           Explore cars
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
