<div class="jumbo">
  <h3>Contact Us</h3>
  <p>Happy to help you find the Best Car</p>
  <address>
    Pick Your Car
    <p>
      California State University, Fullerton<br>
      California, 92832
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:pickyourcar@gmail.com">pickyourcar@gmail.com</a>
  </address>
  <div>
  <br>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}
  </div>
</div>
{{outlet}}