<div class="jumbo">
  <h3>Contact Us</h3>
  <p>Happy to help you find the Best Car</p>
  <address>
    Pick Your Car
    <p>
      California State University, Fullerton<br>
      California, 92832
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:pickyourcar@gmail.com">pickyourcar@gmail.com</a>
    <br>
  </address>
  <br>
  <h3>WHY USE "PICK YOUR CAR" SERVICES?</h3>
  <p>
    <ul>
      <li> Reputed car sale company for used cars</li>
      <li> Helps customer to inspect old cars to provide them best value for money</li>
      <li> Lowest possible rates for resale for car models</li>
      <li> Expanding in market faster. Adding more customers</li>
    </ul>
  </p>
  <div>
  <br>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}
  </div>
</div>
{{outlet}}