<div class="jumbo">
  <section>
    <h3 align="center">
      <font color="#457C8D">
        Happy to help you find the best used car..!!
      </font>
    </h3>
    <br>
    <div class="contactimg">
      <div class="contactpagecenter"></div>
    </div>
    <br>
    <div class="contactdiv">
      <div class="contactaddr">
        <h3>Contact Us</h3>
        <br>
        <h4>ADDRESS</h4>
        <address>
            Pick Your Car
              <br>
              <span>
                PYC Headquarters,
                800 N State College Blvd, Fullerton, CA 92831
              </span>
              <br>
              <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
              <a href="mailto:pickyourcar@gmail.com">pickyourcar@gmail.com</a><br>
        </address>
        <br>
        <div>
          {{#link-to "about" class="button" }}About{{/link-to}}
        </div>
      </div>
      <br>
      <div class="map">
        {{g-map lat=33.883199 lng=-117.886980 zoom=12}}
      </div>
      <br>
    </div>
  </section>
</div>
{{outlet}}
