<div class="clearfix home">
  <div class="flex-container homecenter">
    <div class="one">
      <section>
        <h3>Pick Your Car, Be Your Own Ride</h3>
        <br>
        <p>Shopping for a used car is a little trickier than shopping for a new one. If you aren't careful, you could end up with a car that has enough problems to make you a regular at your local mechanic. We have huge options for auctioned cars at affordable
          price. Cars are Certified Pre-Owned. Shop smart for a used car with us.</p>
        <p>To view cars, click on seecars.</p>
      </section>
    </div>
    <div class="two">
      {{#link-to "seecars" class="button" tagName='button' }}
        See cars
      {{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
