<body>
    <div class="jumbo">
      <br>
      <h3>Welcome!</h3>
      <p>We hope you find exactly what you're looking</p>
    </div>
    <p></p>
    {{#each-in model.listings as |index carUnit|}}
      {{car-listing car=carUnit}}
    {{/each-in}}
{{outlet}}
</body>
